/** VARIABLES **/
/** FONTS **/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic);
@font-face {
  font-family: 'Diapason';
  src: url("assets/hinted-Diapason-Regular.woff2"), url("assets/hinted-Diapason-Regular.woff"), url("assets/hinted-Tessalate-Regular.ttf"), url("assets/hinted-Tessalate-Regular.eot"); }
/** RESETS **/
body, h1, h2, h3, ul, li, div, p {
  margin: 0;
  padding: 0; }

/** GENERAL **/
* {
  box-sizing: border-box; }

body {
  width: 100%; }

section {
  margin-top: 10vh; }

h1, h2 {
  font-family: "Diapason", serif; }

ul {
  list-style: none; }

ul, p {
  font-family: "Roboto Condensed", sans-serif; }

a {
  text-decoration: none; }

a:link, a:visited {
  color: #fff; }

/** BACKGROUND **/
body {
  background: #411485;
  background: -moz-linear-gradient(64deg, #411485 10%, #e20ce8 76%);
  background: -webkit-linear-gradient(64deg, #411485 10%, #e20ce8 76%);
  background: -o-linear-gradient(64deg, #411485 10%, #e20ce8 76%);
  background: -ms-linear-gradient(64deg, #411485 10%, #e20ce8 76%);
  background: linear-gradient(154deg, #411485 10%, #e20ce8 76%);
  color: #fff; }

/** ANIMATION **/
@keyframes sparkrise {
  100% {
    top: 0%; } }
@keyframes sparkout {
  20% {
    opacity: 1; }
  60% {
    opacity: 0; } }
@keyframes blink {
  40% {
    transform: scale(1.5); }
  90% {
    transform: scale(1);
    opacity: 0; } }
.sparkles {
  position: absolute;
  top: 0;
  height: 100%; }
  .sparkles .spark {
    background: #ff9b03;
    position: absolute;
    opacity: 0;
    top: 100%;
    height: 3px;
    width: 3px;
    z-index: -1;
    animation: sparkout 4s, sparkrise 3s ease-out 1;
    animation-fill-mode: forwards; }
  .sparkles .star {
    background: #ff9b03;
    position: absolute;
    opacity: 1;
    height: 3px;
    width: 3px;
    z-index: -1;
    animation: blink 4s infinite;
    animation-fill-mode: forwards; }

/** HEADER **/
header {
  position: relative;
  margin: 3em 0 25em 0;
  width: 100%;
  text-align: center; }
  header h1 {
    font-size: 6rem; }
    @media screen and (max-width: 360px) {
      header h1 {
        font-size: 7rem; } }

/** INTRO **/
.intro {
  margin: 0 auto;
  text-align: center;
  width: 90%; }
  .intro p {
    font-size: 1.2rem; }

/** SKILLS&WORK **/
.work-skills {
  font-size: 1.3rem;
  text-align: center; }
  .work-skills h2 {
    font-size: 3.8rem; }
  .work-skills ul, .work-skills .work {
    padding-top: 15%; }
  .work-skills .codepen a:before {
    content: "";
    background: url("assets/codepen-logo.svg") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    line-height: normal; }

/** CONTACT **/
.contact {
  padding: 10em 0 2em 0;
  text-align: center; }
  .contact p {
    display: block;
    font-size: 1.4rem; }

/** MEDIA QUERIES **/
@media screen and (min-width: 340px) {
  header {
    margin-top: 30%; }

  .intro p {
    font-size: 1.4rem; }

  .skills, .work {
    display: inline-block;
    width: 45%; }

  .work-skills .work {
    padding-top: 0; } }
@media screen and (min-width: 700px) {
  header h1:after {
    content: "";
    background-image: url(assets/toppic.jpg);
    width: 100px;
    height: 100px;
    background-size: 110%;
    background-position: top;
    border-radius: 100%;
    position: absolute;
    top: -30%;
    margin-left: 10px; }

  .intro p, .contact p, .work-skills li {
    font-size: 1.6rem; } }
@media screen and (min-width: 1000px) {
  header h1:after {
    width: 120px;
    height: 120px;
    top: -50%; }

  .intro {
    width: 80%; }

  .work-skills ul {
    padding-top: 7%; } }
@media screen and (min-width: 1400px) {
  header {
    margin-top: 42vh;
    margin-bottom: 30em; }
    header h1 {
      font-size: 7rem; }

  .intro p, .contact p, .work-skills li {
    font-size: 1.9rem; }

  .work-skills ul {
    padding-top: 5%; } }

/*# sourceMappingURL=main.css.map */
